@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

/* General Styles */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: FFFEFE;
}

/* Container to Center Everything */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

/* Title Styling */
.title {
    margin-bottom: 24px;
    text-align: center;
    font-size: 36px;
    color: 467FAB;
}

/* Calendar Container Styling */
.calendar-container {
    width: 100%;
    max-width: 900px;
    padding: 20px;
    background: FFFEFE;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Iframe Styling */
.calendar-frame {
    border: 0;
    width: 100%;
    height: 600px;
    border-radius: 8px;
}