/* Import Fredoka One Font */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #467FAB; /* Blue shade */
    font-size: 3rem;
    font-family: 'Fredoka One', sans-serif; /* Match font */
    padding-bottom: 30px;
}

.contact h2 {
    margin-bottom: 20px;
    color: #F691A9; /* Pink shade */
    font-family: 'Fredoka One', sans-serif; /* Match font */
    text-align: center;
    font-size: 2rem;
}

/* Container for Social Links */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    margin-bottom: 40px; /* Increase this value to add more space */
}

.container div {
    margin: 0 20px;
}

.container div a img {
    transition: transform 0.3s ease;
}

.container div a img:hover {
    transform: scale(1.2);
}

/* Contact Form Section */
.contact {
    background-color: #fff;
    padding: 20px;
    margin: 60px auto;
    width: 80%;
    max-width: 500px;
    border: 2px solid #ccc; /* More distinct border */
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow */
}
/* Placeholder Text */
#contact-form input::placeholder,
#contact-form textarea::placeholder {
    font-family: 'Arial', sans-serif; /* Apply Arial font to placeholder text */
    color: #999; /* Optional: adjust color of placeholder text */
}
/* Form Elements */
#contact-form input[type="email"],
#contact-form input[type="text"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc; /* More distinct border for input fields */
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

#contact-form button {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    border-radius: 15px;
    background-color: #ffffff;
    color: #F691A9;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-left: 200px;
    font-family: 'Fredoka One', sans-serif; /* Match font */
}

#contact-form button:hover {
    background-color: #F691A9;
    color:#ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

