body {
    margin: 0;  /* Reset default margin */
    padding: 0; /* Reset default padding */
    width: 100%; /* Ensure it spans full width */
}

body {
    font-family: 'Inter', sans-serif;
    
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.profile-container {
    margin-top: 5%;
    width: 100%;
    max-width: 1100px; 
    background-color: #f6fcff; 
    padding: 40px; 
    color: white; 
    box-sizing: border-box;

}

.profile-header {
    display: flex;
    align-items: center;
}

.profile-image img {
    width: 300px;
    height: 380px;
    object-fit: cover;
    background-color: #dcdcdc;
    margin-right: 75px;
}

.profile-info h1 {
    color: #b7ce48;
    font-weight: 800;
    margin: 0;
    font-size: 64px;
    line-height: normal;
}

.profile-info h2 {
    margin-top: 15px;
    margin-bottom: 25px;
    color: #000;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
}

.profile-info p {
    color: #555; 
    font-size: 18px;
}

.profile-info .quote {
    margin: 25px 0;
    color: #000;
    font-weight: 500;
}

.profile-info a {
    text-decoration: none;
    color: #ED8BA2;
    font-size: 20px;
    font-weight: bold;
}

.profile-info a:hover {
    text-decoration: underline;
}

.social-links a {
    display: inline-block;
    margin-right: 20px;
}

.social-links img {
    width: 48px;
    height: 48px;
}

.details-container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 1%;
}

.details-container .profile-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.detail-item h3 {
    font-size: 20px;
    font-weight: bold;
    color: #467FAB;
    margin-bottom: 15px;
}

.detail-item p {
    color: #666;
    font-size: 18px;
}

@media (max-width: 792px) {
    .profile-header {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    .profile-image img {
        width: 100%; 
        height: auto; 
        margin-right: 0; 
        margin-bottom: 20px; 
    }

    .profile-info h1 {
        font-size: 48px; 
    }

    .profile-info h2 {
        font-size: 24px; 
    }

    .profile-info p,
    .profile-info .quote,
    .profile-info a {
        font-size: 16px; 
    }

    .details-container .profile-details {
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
    }
}

