

/* meet_the_team.html style */
.team-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    justify-items: center;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 350px;
}

.team-member img {
    width: 90%; 
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s;
}

.team-member h3 {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

.team-member:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.team-member img:hover {
    transform: scale(1.05);
}

.team-member a {
    text-decoration: none;
    color: inherit;
}

/* style for */