@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

/* General Styles */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #FFFEFE;
}

/* Title Styling */
.vid-title {
    margin-top: 20px;
    margin-bottom: 24px;
    text-align: center;
    font-size: 36px;
    color: #467FAB;
}

/* Iframe Styling */
.vid-iframe {
    border: 0;
    width: 70%;
    height: 550px;
    border-radius: 8px;
}

.vid-container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.vid-description{
    font-size: 18px;
    color: #333;
    text-align:center;
    margin-bottom: 20px;
    max-width: 600px;
}